@font-face {
  font-family: poppins_regular;
  src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: poppins_bold;
  src: url(../fonts/Poppins-Bold.ttf);
}
body {
  font-family:"poppins_regular";
}
/* width */
body::-webkit-scrollbar {
  width: 6px;
}
/* Track */
body::-webkit-scrollbar-track {
  background-color: transparent;
}
/* Handle */
body::-webkit-scrollbar-thumb {
  background: #a8afb2;
  border-radius: 5px;
  height: 5px !important;
}
/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: #92989b;
}
.leftNavigation {
  position: fixed;
  width: 7%;
  float: left;
  background-color: #004b73;
}
.leftNavigation>a>img{
    width: 54px;
    margin: 0 auto;
}
.leftNavigation>a{
    display: flex;padding:20px;
}
.leftNavigationContent {
  overflow-y: auto;
  height: 88vh;
}
/* width */
.leftNavigationContent::-webkit-scrollbar {
  width: 6px;
}
/* Track */
.leftNavigationContent::-webkit-scrollbar-track {
  background-color: transparent;
}
/* Handle */
.leftNavigationContent::-webkit-scrollbar-thumb {
  background: #a8afb2;
  border-radius: 5px;
  height: 5px !important;
}
/* Handle on hover */
.leftNavigationContent::-webkit-scrollbar-thumb:hover {
  background: #92989b;
}
.leftNavigationContent a {
  font-size: 12px;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: block;
  color: #b2c9d5;
}
.leftNavigationContent a img {
  opacity: 0.7;
  width: 30px;
}

.leftNavigationContent .active {
  background-color: #032d44;
  border: none;
}
.leftNavigationContent a.active {
  color: #ffffff;
}
.leftNavigationContent a.active img {
  opacity: 1 !important;
  width: 30px;
}
.leftNavigationContent a:hover {
  color: #ffffff;
  background-color: #032d44;
}
.mainContent {
  width: 93%;
  float: right;
  overflow: hidden;
}
.mainContent .header {
  padding: 10px 30px;
  background: #f5f5f5;
  border-bottom: 1px solid #d9d9d9;
}
.mainContent .header h1{
    font-size: 18px;
    color: #171717;
    font-weight: 700;
    margin:0 20px 0 0;
  }
.mainContent .content {
  padding: 30px;
}
.table-class th {
  background-color: #004b73;
  color:#FFF;
  padding:10px;
}
.thfirst{
  border-top-left-radius: 7px;
  padding:10px;
}
.thlast{
  border-top-right-radius: 7px;
  padding:10px;
}
.mainContent select.dropdown{
    background-color: #DDE4E8;
    padding:10px;
    width: 200px;
    padding: 5px 10px;
    width: 280px;
    border-radius: 10px;
    color:#004B73;
    border:1px solid #004B73;
}
.filterAndPrint a{color:transparent;margin:0 5px;}
.pdfAndXls{
    padding: 6px 15px;
    border: 1px solid #999999;
    border-radius: 10px;
    margin: 0 10px;   
}
.pdfAndXls a{color:transparent}
.pdfAndXls span{color:#e2e2ee}
.pdfAndXls img{margin:0px 7px;}
.profileBlock img{border-radius:50%;width:40px;margin-left:5px;}

.reportTable{margin-top:20px;}
.reportTable th{line-height:30px;background-color: #004b73;font-size: 14px;font-weight:normal;color:#ffffff;}
.reportTable th:first-child{background-color: #004b73;border-radius: 5px 0 0 0;}
.reportTable th:last-child{background-color: #004b73;border-radius: 0 5px 0 0;}
/* .reportTable td{} */
.reportTable .pagination{justify-content: end;}
/* .reportTable .pagination a{background:red;padding:5px;margin:2px;border-radius: 5px;} */
.reportTable .pagination li{
    width: 25px;
    height: 25px;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;padding:5px;margin:2px;border-radius: 5px;color:#D6D6D6;cursor: pointer;}
.reportTable .pagination li:first-child,
.reportTable .pagination li:last-child{color:#999999;background:none;width:auto;padding:5px;margin:2px;border-radius: 5px;}
.reportTable .pagination li:hover{background-color: #E8E8E8;}
.reportTable .pagination>.active{background-color: #E8E8E8;width: 25px;
    height: 25px;display: flex;
    justify-content: center;
    align-items: center;padding:5px;margin:2px;border-radius: 5px;color:#D6D6D6;cursor: pointer;}
.reportTable .selectTableRow{
    background-color: #DDE4E8;
    padding:10px;
    width: 50px;
    padding: 5px 10px;
    width: 100px;
    border-radius: 10px;
    color:#004B73;
    border:1px solid #004B73;
    margin-bottom: 20px;float:right;
}
/*********************************************Login****************************************************/
.main-head {
  height: 150px;
  background: #fff;
}
.sidenav {
  width: 50%;
  height: 100%;
  float: left;
  position: fixed;
  background: url(../images/loginBG.png) no-repeat;
  background-size: cover;
  overflow-x: hidden;
  padding-top: 20px;
  display: flex;
  justify-content: center;
}
.main {
  width: 50%;
  float: right;
  padding: 0px 10px;
}
.login-main-text {
  color: #fff;
  position: absolute;
  bottom: 60px;
  text-align: center;
  font-family: "poppins_bold";
}
.login-main-text h2 {
  font-weight: 300;
}
.btn-black {
  background-color: #000 !important;
  color: #fff;
}
.loginContainer {
  padding: 20%;
}
.loginContainer .loginBlock {
  margin: 0 auto;
  text-align: center;
}
.loginContainer .loginBlock h1 {
  color: #212121;
  text-align: center;
  font-family: "poppins_bold";
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 10px;
  margin-top: 20px;
}
.loginContainer .loginBlock p {
  color: #cfcfcf;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
  margin-bottom: 40px;
  padding: 0 10px;
}
.loginContainer .loginBlock img{width:30%;}
.loginContainer .loginInput input {
  padding: 10px;
  background-color: #f4f4f4;
  width: 100%;
  border: none;
}
.loginContainer .loginInput input::placeholder {
  color: #c4c4c4;
  opacity: 1; /* Firefox */
}

.loginContainer .loginInput input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #c4c4c4;
}

.loginContainer .loginInput input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #c4c4c4;
}
.loginContainer .loginInput input:focus-visible {
  outline: none;
}
.loginContainer .alreadyMember {
  text-align: right;
}
.loginContainer .alreadyMember a {
  color: #07addd;
  font-size: 13px;
  text-decoration: none;
  background: none;
  border: 0px;
}
.loginContainer .loginButton {
  width: 100%;
  border: 0px solid transparent;
  border-radius: 4px;
  background-color: #004b73;
  padding: 10px;
  display: flex;
  justify-content: center;
  color: #ffffff;
  margin-top: 55px;
  text-decoration: none;
  font-weight: bold;
  text-transform: none;
}

.error-msg{
  font-size: 11px;

}
.text-danger{
  color:#cc1e2b;
}

.text-success{
  color:#0C0;
}
select.input-sm{line-height:initial!important;}

.dataTables_length{float:left;}

.datatable-scroll {

  overflow-x: auto;

  overflow-y: visible;

}
/* .dataTable th,.dataTable td{white-space: nowrap;} */
/* Handle on hover */
.datatable-scroll::-webkit-scrollbar-thumb:hover {

  background: #555;

  scrollbar-width: thin;

}

.datatable-scroll::-webkit-scrollbar {

  width: 9px;

  height: 4px;

}

.datatable-scroll::-webkit-scrollbar-track {

  background: transparent;

}

.datatable-scroll::-webkit-scrollbar-thumb {

  background-color: rgba(155, 155, 155, 0.5);

  border-radius: 20px;

  height: 4px;

  border: transparent;

}

/**************Dashboard**************/
.dashboardGifCaption{margin-top:25px;font-size:25px;font-weight: bold;color:#3b3a52;}

.reporthead{
  margin-top:-20px;padding-bottom:10px;font-weight:bold;text-align:center;font-size:20px;
}
