
input[type=text] {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.select {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

input[type=submit] {
    background-color: #1E90FF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button {
    background-color: #1E90FF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .downloadButton{
       background-color: #3863B4;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100px;
    white-space: nowrap;
   text-overflow: ellipsis;
  overflow: hidden;
  margin-top: 0px;
padding-top: 0px;
float:left;
  }

input[type=submit]:hover {
    background-color: #1E90FF;
}




/*div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}*/